.poll-wrapper {
  border: 1px solid grey;
 
  width: 60%;
  margin: auto;
  background-color: white;
}

.poll-inner-wrapper {
  padding: 1.5rem;
}

.poll-title {
  background-color: rgba(0, 0, 0, 0.836);
  color: white;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
}

.poll-question {
  padding: 0.5rem 0;
  font-weight: 700;
}

.poll-answer {
  padding: 1rem 1rem;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}
.poll-answer:hover {
  background-color: rgba(128, 128, 128, 0.158);
}

.emoji {
  padding: 0 .4rem;
}